@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ankita's web site</h1>
    <p>Learn about <a href="https://bcrec.ac.in">BCREC</a>Click here.</p>
</div>
